@import "tailwindcss";
html, body {
  background-color: #f2f0e4;
}
.eagle-lake-regular {
  font-family: "Eagle Lake", serif;
  font-weight: 400;
  font-style: normal;
}
.lora-regular {
  font-family: "Lora", serif;
  font-weight: 400;
  font-style: normal;
}
